*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: green;
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// <weight>: Use a value from 100 to 900

.roboto {
           font-family: "Roboto", sans-serif;
           font-optical-sizing: auto;
          // font-weight: <weight>;
           font-style: normal;
         }