@use './variables' as  *;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: $color-primary;
  font-size: 62.5%;
  @include m-plus;
}

// <weight>: Use a value from 100 to 900

.roboto {
           font-family: "Roboto", sans-serif;
           font-optical-sizing: auto;
          // font-weight: <weight>;
           font-style: normal;
         }

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}
