@use 'variables' as *;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: $color-white;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1px;

  &__text {
    margin-top: 8px;
  }
}
