@use 'variables' as *;

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: $color-white;
  @include quicksand;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a{
      color: $color-white;
      text-decoration: none;
    }
  }

  &__control {
    border-radius: 3px;
    border: none;
    font-size: 2.4rem;
    font-weight: 300;
  }

  &__btn {
    margin-top: 20px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    cursor: pointer;

  }

  &__info {
    margin-top: 20px;
    font-size: 1.4rem;
    color: $color-white;
    text-align: center;
  }
}
