@use 'variables' as *;

.game{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.match {
  &__result {
    font-size: 2rem;
    color: $color-heading;
    letter-spacing: 1px;
  }
}

.player {
  margin-top: 20px;
  &__score{
    font-size: 2rem;
    text-align: center;
    color: $color-captions;
  }

  &__hand{
    position: relative;
    width: 100%;
    height: 100px;
  }

  &__buttons {
    margin: 30px auto;
    width: 200px;
  }
}

.computer {
  &__score{
    font-size: 2rem;
    text-align: center;
    color: $color-captions;
  }
  &__hand{
    position: relative;
    right: 15px;
    width: 100%;
    height: 100px;
  }

  &__buttons {
    margin: 30px auto;
    width: 200px;
  }
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  cursor: pointer;
}

.heading {
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: normal;
  color: $color-heading;

  &--auth {
    margin-top: 100px;
  }
}

.deck {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fly1 {
  position: absolute;
  animation: fly1 0.3s forwards;
}

.fly2 {
  position: absolute;
  animation: fly2 0.3s forwards;
}

.fly3 {
  position: absolute;
  animation: fly3 0.3s forwards;
}

.fly4 {
  position: absolute;
  animation: fly4 0.3s forwards;
}

.fly5 {
  position: absolute;
  animation: fly5 0.3s forwards;
}

.fly6 {
  position: absolute;
  animation: fly6 0.3s forwards;
}

.fly7 {
  position: absolute;
  animation: fly7 0.3s forwards;
}

.fly8 {
  position: absolute;
  animation: fly8 0.3s forwards;
}

.fly9 {
  position: absolute;
  animation: fly9 0.3s forwards;
}



@keyframes fly1 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 50px;
    transform: translateY(0) rotate(-20deg);
  }
}

@keyframes fly2 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 60px;
    transform: translateY(0) rotate(-10deg);
  }
}

@keyframes fly3 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 70px;
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes fly4 {
  from {
    transform: translateY(180px) ;
  }
  to {
    top: 10px;
    left: 80px;
    transform: translateY(0) rotate(10deg);
  }
}

@keyframes fly5 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 90px;
    transform: translateY(0) rotate(20deg);
  }
}

@keyframes fly6 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 100px;
    transform: translateY(0) rotate(30deg);
  }
}

@keyframes fly7 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 110px;
    transform: translateY(0) rotate(40deg);
  }
}

@keyframes fly8 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 120px;
    transform: translateY(0) rotate(50deg);
  }
}

@keyframes fly9 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 130px;
    transform: translateY(0) rotate(60deg);
  }
}




