.header {
  margin-top: 20px;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;

  &__logo {
    border-radius: 50%;
    margin-right: 40px;
  }

  &__heading {
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: normal;
    color: white;

  }
}

.nav {
  position: fixed;
  top: 10px;
  right: 10px;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10001;

  &__line {
    margin-bottom: 6px;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
  }
}

.active {
  animation: show 0.3s forwards;
}

.inactive {
  animation: not-show 0.3s forwards;
}

.hidden {
  display: none;
}

.rotate {
  animation: rotate 0.3s forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translateY(10px) translateX(-30px);
  }
}

.reverse-rotate {
  animation: reverse-rotate 0.3s forwards;
}

@keyframes reverse-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg) translateY(24px) translateX(3px);
  }
}

.menu {
  position: absolute;
  top: 0;
  right: -350px;
  width: 350px;
  height: 86vh;
  background-color: #5ecf55;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 1.8rem;
  font-weight: normal;
  list-style: none;
  z-index: 1000;
  border-radius: 10px;

  &__item {
    margin-top: 75px;
    text-transform: uppercase;
  }

  &__link {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
  }
}

@keyframes show {
  from {
    right: -350px;
  }
  to {
    right: -10px;
  }
}

@keyframes not-show {
  from {
    right: 0;
  }
  to {
    right: -400px;
  }
}
