*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #218b11;
  font-size: 62.5%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  margin-top: 20px;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
}
.header__logo {
  border-radius: 50%;
  margin-right: 40px;
}
.header__heading {
  margin-right: 40px;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: normal;
  color: white;
}

.nav {
  position: fixed;
  top: 10px;
  right: 10px;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10001;
}
.hamburger__line {
  margin-bottom: 6px;
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

.active {
  animation: show 0.3s forwards;
}

.inactive {
  animation: not-show 0.3s forwards;
}

.hidden {
  display: none;
}

.rotate {
  animation: rotate 0.3s forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg) translateY(10px) translateX(-30px);
  }
}
.reverse-rotate {
  animation: reverse-rotate 0.3s forwards;
}

@keyframes reverse-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg) translateY(24px) translateX(3px);
  }
}
.menu {
  position: absolute;
  top: 0;
  right: -350px;
  width: 350px;
  height: 86vh;
  background-color: #5ecf55;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 1.8rem;
  font-weight: normal;
  list-style: none;
  z-index: 1000;
  border-radius: 10px;
}
.menu__item {
  margin-top: 75px;
  text-transform: uppercase;
}
.menu__link {
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
}

@keyframes show {
  from {
    right: -350px;
  }
  to {
    right: -10px;
  }
}
@keyframes not-show {
  from {
    right: 0;
  }
  to {
    right: -400px;
  }
}
.game {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.match__result {
  font-size: 2rem;
  color: #011742;
  letter-spacing: 1px;
}

.player {
  margin-top: 20px;
}
.player__score {
  font-size: 2rem;
  text-align: center;
  color: #4adab3;
}
.player__hand {
  position: relative;
  width: 100%;
  height: 100px;
}
.player__buttons {
  margin: 30px auto;
  width: 200px;
}

.computer__score {
  font-size: 2rem;
  text-align: center;
  color: #4adab3;
}
.computer__hand {
  position: relative;
  right: 15px;
  width: 100%;
  height: 100px;
}
.computer__buttons {
  margin: 30px auto;
  width: 200px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  cursor: pointer;
}

.heading {
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: normal;
  color: #011742;
}
.heading--auth {
  margin-top: 100px;
}

.deck {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fly1 {
  position: absolute;
  animation: fly1 0.3s forwards;
}

.fly2 {
  position: absolute;
  animation: fly2 0.3s forwards;
}

.fly3 {
  position: absolute;
  animation: fly3 0.3s forwards;
}

.fly4 {
  position: absolute;
  animation: fly4 0.3s forwards;
}

.fly5 {
  position: absolute;
  animation: fly5 0.3s forwards;
}

.fly6 {
  position: absolute;
  animation: fly6 0.3s forwards;
}

.fly7 {
  position: absolute;
  animation: fly7 0.3s forwards;
}

.fly8 {
  position: absolute;
  animation: fly8 0.3s forwards;
}

.fly9 {
  position: absolute;
  animation: fly9 0.3s forwards;
}

@keyframes fly1 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 50px;
    transform: translateY(0) rotate(-20deg);
  }
}
@keyframes fly2 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 60px;
    transform: translateY(0) rotate(-10deg);
  }
}
@keyframes fly3 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 70px;
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes fly4 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 80px;
    transform: translateY(0) rotate(10deg);
  }
}
@keyframes fly5 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 90px;
    transform: translateY(0) rotate(20deg);
  }
}
@keyframes fly6 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 100px;
    transform: translateY(0) rotate(30deg);
  }
}
@keyframes fly7 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 110px;
    transform: translateY(0) rotate(40deg);
  }
}
@keyframes fly8 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 120px;
    transform: translateY(0) rotate(50deg);
  }
}
@keyframes fly9 {
  from {
    transform: translateY(180px);
  }
  to {
    top: 10px;
    left: 130px;
    transform: translateY(0) rotate(60deg);
  }
}
.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}
.form__field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form__field a {
  color: #fff;
  text-decoration: none;
}
.form__control {
  border-radius: 3px;
  border: none;
  font-size: 2.4rem;
  font-weight: 300;
}
.form__btn {
  margin-top: 20px;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  cursor: pointer;
}
.form__info {
  margin-top: 20px;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.footer__text {
  margin-top: 8px;
}

/*# sourceMappingURL=main.css.map */
